{% extends "index.html" %}
{% block title %}{% endblock %}
{% block content %}

<p><i>{{ url }} is...</i></p>

<p><i>

    {%if len_a == 0%}
    
    {%else%}
        Available on 
        {%for i in range(0, len_a)%}
            {{ avail[i]}}
            {%if i != (len_a-1)%}
                ,
            {%endif%}
        {%endfor%} 
    {%endif%}
</i></p>

<p><i>
    {%if len_na == 0%}
    
    {%else%}
        Not available on 
        {%for i in range(0, len_na)%}
            {{ not_avail[i]}}
            {%if i != (len_na-1)%}
                ,
            {%endif%}
        {%endfor%} 
    {%endif%}
</i></p>

<p><div class="inputHolder">
    <form action="/name" onKeyDown="prevent()" method="POST">
    <input type="text" name="textbox">
    <input type="submit" value="enter">
</form>
</div></p>

{% endblock %}